@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
ol {
    width: 300px;
}
li {
    font-size: 18px;
}
 li:hover{
    background-color: lightblue;     
    font-family: "Oswald", sans-serif; 
    font-weight: bold;
}