p{
    color: blue;
    font-size: 18px;
    background-color: gray;
 }
button{
    background-color: green;
    color: white;
    font-size: 16px;
}
h4 {
    color: purple;
    font-size: 22px;
    background-color: lightyellow;
}